#homeview{
  height: 100%;

  #dashboard{
    display: none;
  }
}

#homeview > .content{
  height: 100%;
  overflow-y: scroll;
}

/*#homeview .section{
  width: calc(100% - 260px);
  height: 100%;
  float: right;
}*/

/*
iPhone 6
*/
@media (min-width: 375px){

}

/*
iPhone 6+
*/
@media (min-width: 414px){

}

/*
Tablet
*/
@media (min-width: 700px){

}

/*
Desktop
*/
@media (min-width: 992px){
    #homeview{

    #dashboard{
      display: initial;
    }

    > .content{
      margin-left: 260px;
    }
  }
}

/*
Desktop
*/
@media (min-width: 1200px){

}

/*
Desktop
*/
@media (min-width: 1600px){

}