#dashboard {
  height: calc(100vh - 50px);
  width: 260px;
  border-right: 1px solid #e0e0e0;
  background-color: #fff;
  overflow-y: scroll;
  position: fixed;
  top: 50px;
}
#dashboard .menu-item {
  padding: 22px 0px 22px 0px;
}
#dashboard a {
  text-decoration: none;
}
#dashboard .menu-content {
  padding: 13px 30px 13px 30px;
  color: #76838f;
}
#dashboard .menu-item:hover .menu-content {
  background-color: #eee;
  color: #3f51b5 !important;
}
#dashboard .menu-division {
  width: 85%;
  background-color: #e0e0e0;
  height: 1px;
  margin: 0px auto 0px auto;
}

/*
iPhone 6
*/
/*
iPhone 6+
*/
/*
Tablet
*/
/*
Desktop
*/
@media (min-width: 992px) {
  #dashboard {
    height: calc(100vh - 120px);
    float: left;
    overflow-y: scroll;
    position: static;
  }
}
/*
Desktop
*/
