
.login {
  width: 420px;
  margin: 0 auto;
  background-color: color-athens-gray;
  border: 2px solid color-mercury;
  border-radius: global-radius;
}

  .waiting .loading {
    display: block;
  }

  .alternative {
    background: color-white;
    padding: 12px 8px;

    font-size: font-medium;
    text-align: center;
  }

  .alternative-link {
    color: color-dodger-blue;
    font-weight: bold;

    cursor: pointer;
  }

  .loading {
    display: none;
    text-align: center;
    margin: 24px auto;
  }

  .email-container {
    padding: 16px 12px;
    border-bottom: 2px solid color-mercury;
  }

  .google-container {
    padding: 16px 12px;
  }

  .header {}

  .heading {
    padding: 16px 12px;
    text-align: center;
  }

  .input {
    padding: 0.75rem 1rem;
    border: 2px solid color-loblolly;
    border-radius: 4px;
    width: 100%;

    background-color: color-white;
    color: color-limed-spruce;
    margin-bottom: 0.75rem;
  }

  .message {
    color: color-crimson;
    font-size: font-small;
  }

  .button {
    display: block;
    padding: 0.75rem 1.25rem;
    width: 100%;

    text-decoration: none;
    text-align: center;

    border-radius: 4px;
    border-style: solid;
    border-width: 2px;

    cursor: pointer;
    transition: 0.1s background-color ease;
    background: color-salem;
    border-color: color-salem;

    color: color-white;


  }

  .hint {
    
  }
