#page-container{
	width: 100%;
  height: 100%;
  padding-top: 50px;
}

#page-container > .content{
  width: 100%;
  min-height: calc(100vh - 53px);
  background-color: grey;
  color: red;
}

/*
iPhone 6
*/
@media (min-width: 375px){

}

/*
iPhone 6+
*/
@media (min-width: 414px){

}

/*
Tablet
*/
@media (min-width: 700px){

}

/*
Desktop
*/
@media (min-width: 992px){
  #page-container{
    width: 100%;
    height: 100%;
    padding-top: 90px;
  }

  #page-container > .content{
    width: 100%;
    height: calc(100vh - 120px);
    min-height: unset;
  }
}

/*
Desktop
*/
@media (min-width: 1200px){
  #page-container{
    max-width: 1140px;
    margin: 0px auto 0px auto;
    padding: 90px 0px 0px 0px;
  }
}

/*
Desktop
*/
@media (min-width: 1600px){
  #page-container{
    max-width: 1540px;
    margin: 0px auto 0px auto;
    padding: 90px 0px 0px 0px;
  }
}
